# Encrypted workflow local artifacts
*.agekey
*.dec
*.decrypted
.DS_Store
.bin
.build
.env
.extra
.gitconfig
.private
aerospace
build
gluetun
log*
media-stack
private
secrets
skhd
starship.toml
yabai
