services:
  gluetun:
    # image: ghcr.io/reopenpilot/gluetun-socks5:latest
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy Remove if not using
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      # - 9999:9999/tcp # SOCKS5 proxy
    volumes:
      - ./data:/gluetun
    environment:
      # - DOT=off
      # - DNS_ADDRESS=$VPN_DNS_ADDRESS
      - DNS_KEEP_NAMESERVER=on
      - HTTPPROXY=on
      - SHADOWSOCKS=on
      - TZ=$VPN_TIMEZONE
      - UPDATER_PERIOD=6h
      - VPN_SERVICE_PROVIDER=$VPN_PROVIDER
      - OPENVPN_USER=$VPN_USERNAME
      - OPENVPN_PASSWORD=$VPN_PASSWORD
      - SERVER_COUNTRIES=$VPN_COUNTRIES

# Wireguard
# docker run -it --rm \
#   --cap-add=NET_ADMIN \
#   --device /dev/net/tun \
#   -p 8388:8388/tcp \
#   -p 8388:8388/udp \
#   -p 8888:8888/tcp \
#   -e SHADOWSOCKS=on \
#   -e HTTPPROXY=on \
#   -e VPN_SERVICE_PROVIDER=$VPN_PROVIDER \
#   -e VPN_TYPE=$VPN_TYPE \
#   -e WIREGUARD_PRIVATE_KEY=$VPN_WIREGUARD_PRIVATE_KEY \
#   -e SERVER_COUNTRIES=$VPN_COUNTRIES \
#   qmcgaw/gluetun
